body {
    margin: 0;
    padding: 2%;
    font-family: cursive;
    background-color: #AFEEEE;
}

a {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


h1 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 140%;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 100%;
}

#resultTable th,
#resultTable td {
    border: 0.3% solid #ddd;
    padding: 1%;
}

#resultTable th {
    background-color: #007bff;
    color: white;
}

#resultTable caption {
    caption-side: top;
    font-size: 100%;
    margin-bottom: 2%;
}